<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHOTO EXHIBITION</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!-- 导航栏 -->
    <nav class="navbar">
        <div class="logo">PHOTO EXHIBITION</div>
        <ul class="nav-links">
            <li><a href="index.html">主页</a></li>
            <li><a href="upload.html">图片上传</a>
            <li><a href="search.html">图片浏览</a>
            <!-- <li><a href="{{ url_for('index') }}">主页</a></li>
            <li><a href="{{ url_for('upload') }}">图片上传</a></li> -->
        </ul>
    </nav>

    <div class="container">
        <h2>欢迎来到图片展厅🥰</h2>
        <!-- 图片动态展示部分 -->
        <div class="dra_exhibition">
            <h3>最新图片(仅显示最新8张)</h3>
            <div class="latest-gallery">
                <div class="carousel">
                    <div class="carousel-images">
                        <!-- 图片将在这里动态插入 -->
                    </div>
                    <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
                    <button class="next" onclick="moveSlide(1)">&#10095;</button>            
                </div>
            </div>
        </div>
    </div>

    <footer style="background: linear-gradient(to right, #78b8fc, #fcd0fa); color: #ffffff; padding: 30px; text-align: center;">
        <div class="column-grid cols-4 clearfix">
            <div class="entry column">
                <aside class="widget widget_recent_comments">
                    <h2 class="title" style="font-weight: bold; font-size: 1.5em; margin-bottom: 10px;">开发者</h2>
                    <ul style="list-style: none; padding: 0;">
                        <li style="margin: 5px 0;">LuLuLu, 大数据与软件学院2022级软件工程01班</li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="ftr-bottom">
            <small>
                &copy; 2024 <a href="https://github.com/lululubbb/PHOTO_EXHIBITION" style="color: #ffffff; text-decoration: underline;">PHOTO EXHIBITION</a>.
                Coded by LuLuLu. All Rights Reserved.
            </small>
        </div>
    </footer>
    
    </div>
    <script src="../static/javascript.js"></script>
</body>
</html>
