body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f6f6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #fcd0fa, #78b8fc);
    padding: 10px;
    height: 105px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.logo {
    font-size: 32px;
    color: rgb(175, 2, 255);
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin: 0 15px;
    font-size: 28px;
    font-family:kaiti;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.gallery {
    padding: 20px;
}

.upload-section, .browse-section {
    margin: 30px;
}

form {
    width: 98.5%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input, textarea, select {
    width: 96%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    background-color: #fcd0fa;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #f59df0;
}

.dra_exhibition{
    width: 97%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 30px;
}

.sta_exhibition{
    width: 99%;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div h2{
    display: flex;
    justify-content: space-around;
    font-family:STKaiti;
    font-size: 36px;
}

.modal {
    display: none; /* 初始隐藏 */
    position: fixed; /* 固定定位 */
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 如果内容过多，添加滚动条 */
    background-color: rgba(0, 0, 0, 0.5); /* 半透明背景 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.modal-content {
    background-color: #fefefe;
    margin: 0; /* 去掉外边距 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 可以根据需要调整宽度 */
    max-width: 600px; /* 可选：设置最大宽度 */
}

  /* 关闭按钮样式 */
.close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modalText{
    font-size: 24px;
    font-family: songti;
}

#confirmButton{
    padding: 10px 20px;
    background-color: #e4e4e4;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

div h3{
    display: flex;
    justify-content: space-around;
    font-family:STKaiti;
    font-size: 28px;
}

.static-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: center; 
}

p{
    font-weight: bold;
}

.image-item {
    position: relative; /* 设置为相对定位 */
    margin: 1px;
    width: calc(16.66% - 4px); /* 六个图片一排，减去间距 */
}

.image-item img {
    width: 99%; 
    height: auto; 
    max-width: 350px; 
}

.image-item img:hover {
    border: 3px solid #ffb6fb; 
}

.image-item:hover .info-card {
    display: block;
    pointer-events: auto;
}

.info-card {
    position: absolute;
    top: 100%; /* 放在图片的下方 */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 通过平移调整居中 */
    background-color: rgba(244, 244, 244, 0.5);
    color: rgb(0, 0, 0);
    width: 99%;
    padding: 5px;
    display: none; /* 默认隐藏 */
    z-index: 20; 
    border: 2px solid #e6e6e6; 
    margin-top: -5px;
}

.zoom-button {
    position: absolute; 
    /* bottom: 7px; 
    right: 20px; */
    top: 76%; /* 放在图片的下方 */
    left: 80%; /* 水平居中 */
    background: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    font-size: 20px; 
    z-index: 20; 
    padding: 2px;
}

.zoom-button:hover {
    background: rgba(255, 255, 255, 0.5); /* 鼠标悬停时背景变为不透明 */
}

.latest-gallery {
    position: relative;
    max-width: 1400px; /* 最大宽度 */
    margin:auto;
    overflow: hidden; /* 隐藏溢出 */
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 2100px;
    margin: auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-images img {
    width: 100%;
    display: none; 
}

.carousel-images img:first-child {
    display: block; 
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

