<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图片上传</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <!-- 导航栏 -->
    <nav class="navbar">
        <div class="logo">PHOTO EXHIBITION</div>
        <ul class="nav-links">
            <li><a href="index.html">主页</a></li>
            <li><a href="upload.html">图片上传</a>
            <li><a href="search.html">图片浏览</a>

            <!-- <li><a href="{{ url_for('index') }}">主页</a></li>
             <li><a href="{{ url_for('upload') }}">图片上传</a></li> -->
        </ul>
    </nav>

    <!-- 图片上传表单 -->
    <section class="upload-section">
        <h2>图片上传</h2>
        <form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
            <label for="file-upload">选择文件：</label>
            <input type="file" name="file" id="file-upload" accept=".jpg, .jpeg, .png" required>
            <label for="photo-title">图片主题：</label>
            <input type="text" name="title" id="photo-title" required>

            <label for="photo-description">描述：</label>
            <textarea name="description" id="photo-description" rows="4"></textarea>

            <label for="photo-date">拍摄时间：</label>
            <input type="date" name="date" id="photo-date" required>

            <label for="photo-location">拍摄地点：</label>
            <input type="text" name="location" id="photo-location" required>

            <button type="submit">提交</button>
        </form>
    </section>

<!-- 模态对话框 -->
<div id="myModal" class="modal">
    <!-- 模态对话框内容 -->
    <div class="modal-content">
    <span class="close">&times;</span>
    <p id="modalText"></p>
    <button id="confirmButton">确认</button> <!-- 确认按钮 -->
    </div>
</div>

<script>
        document.addEventListener('DOMContentLoaded', function() {
            const uploadForm = document.querySelector('#upload-form');
            const modal = document.getElementById('myModal');
            const span = document.getElementsByClassName("close")[0];
            const confirmButton = document.getElementById("confirmButton"); 

            if (uploadForm) {
                uploadForm.addEventListener('submit', function(e) {
                    e.preventDefault();
                    const formData = new FormData(this);
                    fetch('http://127.0.0.1:8035/upload', {
                    method: 'POST',
                    body: formData
                    })
                    .then(response => response.json()) // 解析 JSON 响应
                    .then(data => {
                        // document.getElementById('modalText').textContent = data.message; // 使用返回的消息
                        // document.querySelector('.modal').style.display = 'flex';
                        // modal.style.display = 'block'; // 显示模态对话框
                    })
                    .catch(error => {
                        // document.getElementById('modalText').textContent = '上传过程中发生错误，请重试。';
                        // document.querySelector('.modal').style.display = 'flex';
                            console.error('Error:', error);
                        // modal.style.display = 'block'; // 显示模态对话框
                    });
                });
            } else {
                console.error('Upload form not found.');
            }
                     // 点击 <span> (x) 关闭模态对话框
                        span.onclick = function() {
                modal.style.display = 'none';
            }

            // 点击确认按钮关闭模态对话框
            confirmButton.onclick = function() {
                modal.style.display = 'none';
            }

            // 点击模态对话框外部区域不关闭模态对话框
            window.onclick = function(event) {
                if (event.target == modal) {
                    // 取消外部点击关闭
                }
            }

        });
    </script>
</body>
</html>